/* baseline body css */
body {
  background-color: #333333;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.4em;
  margin: auto;
  padding: 0 2rem 0 2rem;
  max-width: 1400px;
}

/* for smaller screems, we want a smaller font size */
@media only screen and (max-width: 1200px) {
  body {
    font-size: 1em;
  }
}

/* GitLab's navbar might use it later */
.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}
.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 1rem;
  padding: .8rem;
  text-decoration: none;
}
.navbar a:hover {
  color: #ffffff;
}

/* header styling */
h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

/*p {
  font-size: 1.4em;
} */

/* link styling */
a {
  font-weight: bold;
  color: #af5c02;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #68af02;
}

/* I want the "below for details" to be italicized */
.notes {
  font-style: italic;
}
